@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

/* CSS variables */
:root {
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;
  --light-gray: #d3d3d3;
}

/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  border: none;
}

html,
body {
  height: 100%;
  background-color: var(--dark-gray);
}

body {
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* shared classes */
.hidden {
  display: none !important;
}
.yellow {
  color: var(--yellow);
}
.turquoise {
  color: var(--turquoise);
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.border {
  border: 1px solid rgba(211, 211, 211, 0.4) !important;
}

/* styling for desktop view */
@media (min-width: 768px) {
  .grid {
    width: 490px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 50px repeat(3, 150px) 60px;
    gap: 20px;
    align-self: center;
  }
}

/* styling for mobile view */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 85px);
  grid-template-rows: 55px repeat(3, 85px) 65px;
  gap: 5px;
}

/* Turn indicator styling */
.turn {
  color: var(--yellow);
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  gap: 20px;
}
@keyframes turn-text-animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
.turn p {
  font-size: 14px;
  animation: 0.6s ease-in-out turn-text-animation;
}
/* keysframes: set name as turn-icon-animation, set intervals where action takes place, declare action (transform) */
@keyframes turn-icon-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.turn i {
  font-size: 1.8rem;
  margin-left: 10px;
  /* animation: duration, easing function, name */
  animation: 0.6s ease-in-out turn-icon-animation;
}

/* Actions menu styling */
.menu{
  position: relative;
}
.menu-btn{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  color: white;
  background-color: rgba(211, 211, 211, 0.05);
  border: 1px solid transparent;
}
.items{
  position: absolute;
  z-index: 10;
  top: 60px;
  right: 0;
  background-color: #203139;
  border-radius: 2px;
  padding: 10px;
}
.items button{
  background-color: transparent;
  padding: 4px;
  color: white;
}
.items button:hover{
  text-decoration: underline;
  cursor: pointer;
}

.square {
  background-color: red;
}

.score {
  background-color: blue;
}

/* footer styling */
footer {
  color: white;
  margin-top: 60px;
}
footer p {
  margin-top: 10px;
  text-align: center;
}
footer a {
  color: var(--yellow);
}
